{% extends 'base.html' %}
{% block content %}

<!-- <h1>Enter your new password</h1>
    <form method="post">
        {% csrf_token %}
        {{form}}
        <button type="submit" >Request for Reset</button>
    </form> -->


    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col-md-3">
            {% comment %} {% for message in messages %}
            {% if message %}
            <div class='alert alert-{{message.tags}}'>
            {{message}} {% endcomment %}
            </div>
            {% comment %} {% endif %}
            {% endfor %} {% endcomment %}
                <div class="border p-3 bg-white shadow">
                    <h3>Password Reset Confirm</h3>
                    <hr>
                    <form method="POST">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button style="color: white;" class="btn btn-warning my-2" type="submit">Confirm Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>



{% endblock %}