{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-md-4 offset-md-4">
            <div class="border bg-white p-3 shadow">
                <h3>Password Reset Complete page</h3>
                <hr>
                <div class="alert alert-warning">
                    <h4>Now you can login with your new password</h4>
                </div>
                <button class="btn btn-warning"><a style="color: white;" href="{% url 'login' %}">Login</a></button>
            </div>
        </div>
    </div>
</div>


{% endblock %}




